@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap');

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body {
  font-family: 'Montserrat', sans-serif;
  background: #006311c2;
  color: #fff;
}


.imgfondo {

  background: -webkit-linear-gradient(to right, hsla(34, 99%, 27%, 0.459), hsla(46, 98%, 18%, 0.836)), url(../img/restaurant.jpg) no-repeat center;

  background: linear-gradient(to right, hsla(41, 93%, 44%, 0.726), hsla(40, 96%, 28%, 0.829)), url(../img/restaurant.jpg) no-repeat center ;

  background-size: 100%;


}
/* Main Styling */

html {
  scroll-behavior: smooth;
  
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

h1,h4,p {
  line-height: 1.4em;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* Utility Classes */
.container {
  
  margin: auto;
  max-width: 1300px;
  overflow: auto;
  padding: 0 10px;
}

.large {
  
  font-size: 1.2rem;
}

.btn {
  display: inline-block;
  font-size: 18px;
  padding: 13px 20px;
}

.btn-red {
  background: #d00000;
  color: #fff;
  border: 2px solid #d00000;
  border-radius: 5px;
}

form label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

form .form-group {
  margin-bottom: 1rem;
}

form .form-control {
  display: block;
  width: 100%;
  padding: .375rem .7rem;
  font-size: 1rem;
}

/* Nav */
#navbar{
  width: 100%;

  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background: #a30808;
  
}

#navbar .logo {

  text-align: center;
  padding-top: 16px;
  font-size: 25px;
}

#navbar ul {

list-style: none;

}

#navbar ul li {
display: inline-flex;

}

#navbar ul  {
  color: yellow;
  
  }

#navbar ul li a {
  font-size: 20px;
  font-weight: 800;

  padding: 20px;
  align-items: center;
  color: #f5f5f5d3;
  
}



#icono {
width: 10%;
}

/* Showcase */
#showcase {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(/img/restaurant.jpg);
}

#showcase img {
  width: 50%;
}

#showcase p {
  width: 50%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

#showcase a{
  width: 180px;
}

/* Services */
#services {

  padding-top: 100px;
  padding-bottom: 100px;

}

#services h4 {
  padding-bottom: 20px;
}


.service-box {
  float: left;
  width: 33%;
  padding: 50px;
}


.service-box img {
  border-radius: 100%;
  border: solid black 5px;
  width: 220px;
  height: 150px;
  text-align: center;
}

/* Comidas */
#gastronomia{
  height: 300px;
  background: rgb(54, 119, 0);
  width: 100%;

}

#gastronomia h2{
  margin-top: 30px;
  text-align: center;

}

#gastronomia p{
  margin: 25px;

}

#pizza {

  background: #df2f10b7;
}

#spaguetti {

  background: #df2f106e;
}

#lasana {

  background: #e43e2150;
}

.foods {

  padding-top: 50px;
  padding-bottom: 50px;
  color: black;
}

.foods h2 {
  text-align: center;
}

.foods p {
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
  padding: 10px 40px;
  color: black;
}


.foods img {
  float: left;
  width: 300px;
  height: 300px;
  border-radius: 100%;

}
/* Contact */
#contact {
  padding-top: 100px;
  padding-bottom: 100px;
}

#contact h4 {
  text-align: center;
  padding-bottom: 50px;
}

#contact form {
  width: 50%;
  margin: 0 auto;
}

#contact button {
  width: 100%;
}

/* Footer */

footer{
  background: #e90505af;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer{
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}



.content-foo p{
  color: rgb(0, 0, 0);
}

.titulo-final{
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
  color: #000000;
}

#navbar li :hover {
  color: yellow;
  
  }

@media (max-width: 600px) { 

  #navbar ul li {
  font-size: 8px;
  display: none;
}

#navbar {

  position:fixed  ;
}

#navbar a {
font-size: 8px;
}


#showcase h1{

margin-top: 30px;

}



  #services {
    text-align: justify;
    padding-top: 0px;
    padding-bottom: 0px;

  }
  
  #services h4 {
    padding-bottom: 20px;
    text-align: center;
  }
  
  
  .service-box {
    float: none;
    width: 100%;
    padding: 20px;
  }
  
  
  .service-box img {
    border-radius: 100%;
    border: solid black 5px;
    width: 220px;
    height: 150px;
    margin-left: 100px;
  }



  #pizza  img{

display: block;
margin: auto;
  }

  #pizza{

    width: 100%;
  }

  #pizza  p{

  text-align: justify;

  
  }

  
  #lasana{
    width: 100%;
  }

  #lasana  img{
    display: block;
    margin: auto;
    
  }

  #lasana  p{
  text-align: justify;

    
  }

  
  #spaguetti{
    width: 100%;
  }
  #spaguetti  img{

    display: block;
    margin: auto;
    margin-left: 30px
    
  }

  #spaguetti  p{
  text-align: justify;

    
  }


  


  
 }